.table-folder{
  border-collapse: separate;
  border-spacing: 0 16px;
  width: 100%;
}

td, th{
  padding: 24px;
}

thead tr th{
  text-align: center;
}

tbody tr td{
  font-size: 14px;
  background-color: #fff;
  margin-bottom: 16px;
  box-shadow: 4px 0 8px rgba(0,0,0,0.1);
  text-align: center !important;
}
