<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm" *ngIf="showMenu()">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/home']">
      <i class="fa fa-users "></i>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="isCollapsed = !isCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [collapse]="isCollapsed" [isAnimated]="true" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <ng-container *ngIf="(accountService.currentUser$ | async) !== null">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" aria-current="page" [routerLink]="['/dashboard']">Dashboard</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" aria-current="page" [routerLink]="['/eventos']">Eventos</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/palestrantes']">Palestrantes</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/contato']">Contato</a>
          </li>
        </ng-container>
      </ul>
      <div *ngIf="(accountService.currentUser$ | async) === null" class="navbar-nab me-3 d-xs-none d-none d-md-block">
       <a routerLink="/user/login" class="btn btn-ligth me-2 border">Entrar</a>
       <a routerLink="/user/registrar" class="btn btn-warning">Me Cadastrar</a>
      </div>
      <ul  class="btn-group navbar-nav" dropdown>
        <button *ngIf="(accountService.currentUser$ | async) as user"
            id="button-basic"
            dropdownToggle type="button" class="btn btn-white dropdown-toggle"
                aria-controls="dropdown-basic">
          {{ user.userName | titlecase }} <span class="caret"></span>
        </button>
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right"
            role="menu" aria-labelledby="button-basic">
          <li role="menuitem"><a class="dropdown-item" routerLink="user/perfil">Perfil</a></li>
          <li class="divider dropdown-divider"></li>
          <li (click)="logout()" role="menuitem"><a class="dropdown-item" style="cursor: pointer;">Sair</a>
          </li>
        </ul>
      </ul>
    </div>
  </div>
</nav>
