<form [formGroup]="form" (submit)="onSubmit()">
  <div class="row">
    <div class="form-group my-3 col-12">
      <h3 class="border-bottom">Detalhe Perfil</h3>
    </div>
    <div class="form-group mb-3 col">
      <label>Título</label>
      <select formControlName="titulo" [ngClass]="{'is-invalid': f.titulo.errors && f.titulo.touched}" class="form-select">
        <option value=""></option>
        <option value="NaoInformado">Não Quero</option>
        <option value="Tecnologo">Tecnólogo(a)</option>
        <option value="Bacharel">Bacharel</option>
        <option value="Especialista">Especialista</option>
        <option value="PosGraduado">Pós Graduado(a)</option>
        <option value="Mestrado">Mestre</option>
        <option value="Doutorado">Doutor(a)</option>
        <option value="PosDoutorado">Pós Doc</option>
      </select>
      <div class="invalid-feedback">
        Título é obrigatório.
      </div>
    </div>
    <div class="form-group mb-3 col-sm-5">
      <label>Primeiro Nome</label>
      <input
      type="text"
      formControlName="primeiroNome"
      [ngClass]="{'is-invalid': f.primeiroNome.errors && f.primeiroNome.touched}"
      class="form-control"/>
      <div class="invalid-feedback">
        Nome é obrigatório.
      </div>
    </div>
    <div class="form-group mb-3 col-sm-5">
      <label>Último nome</label>
      <input
      type="text"
      formControlName="ultimoNome"
      [ngClass]="{'is-invalid': f.ultimoNome.errors && f.ultimoNome.touched}"
      class="form-control"/>
      <div class="invalid-feedback">
        Sobrenome é obrigatório.
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group mb-3 col-sm-5">
      <label>E-mail</label>
      <input
      type="text"
      formControlName="email"
      [ngClass]="{'is-invalid': f.email.errors && f.email.touched}"
      class="form-control" />
      <div *ngIf="f.email.errors?.required" class="invalid-feedback">
        e-mail é obrigatório.
      </div>
      <div *ngIf="f.email.errors?.email" class="invalid-feedback">
        e-mail deve ser válido.
      </div>
    </div>
    <div class="form-group mb-3 col-sm-4">
      <label>Telefone</label>
      <input
      type="text"
      formControlName="phoneNumber"
      [ngClass]="{'is-invalid': f.phoneNumber.errors && f.phoneNumber.touched}"
      class="form-control" />
      <div class="invalid-feedback">
        Telefone é obrigatório.
      </div>
    </div>
    <div class="form-group mb-3 col-sm">
      <label>Função</label>
      <select
      class="form-select"
      formControlName="funcao"
      [ngClass]="{'is-invalid': f.funcao.errors && f.funcao.touched}">
      <option value=""></option>
      <option value="NaoInformado">Não Informado</option>
      <option value="Participante">Participante</option>
      <option value="Palestrante">Palestrante</option>
    </select>
    <div class="invalid-feedback">
      Função é obrigatória.
    </div>
  </div>
  <form [formGroup]="form" class="col-12">
    <label>Descrição</label>
    <input
    type="text"
    formControlName="descricao"
    [ngClass]="{'is-invalid': f.descricao.errors && f.descricao.touched}"
    class="form-control" />
    <div class="invalid-feedback">
      Descrição é obrigatória.
    </div>
  </form>
  </div>
  <div>
    <h3 class="pt-3 border-bottom">Mudar Senha</h3>
    <p>Caso mude de senha, preencha os campos abaixo:</p>
  </div>
  <div class="row">
    <div class="form-group mb-3 col-sm">
      <label>Senha</label>
      <input
      type="password"
      [ngClass]="{'is-invalid': f.password.errors && f.password.touched}"
      formControlName="password"
      class="form-control" />
      <div *ngIf="f.password.errors?.required" class="invalid-feedback">
        Senha é obrigatória.
      </div>
      <div *ngIf="f.password.errors?.minlength" class="invalid-feedback">
        Deve conter pelo menos 6 caracteres.
      </div>
    </div>
    <div class="form-group mb-3 col-sm">
      <label>Confirmar Senha</label>
      <input
      type="password"
      formControlName="confirmarPassword"
      [ngClass]="{'is-invalid': f.confirmarPassword.errors && f.confirmarPassword.touched}"
      class="form-control" />
      <div *ngIf="f.confirmarPassword.errors?.required" class="invalid-feedback">
        Confirmar senha é obrigatório.
      </div>
      <div *ngIf="f.confirmarPassword.errors?.mustMatch" class="invalid-feedback">
        As senhas são diferentes.
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div class="d-flex">
      <button (click)="cleanScream($event)" class="btn btn-outline-secondary me-auto border">
        Cancelar Alteração
      </button>
      <button type="submit" class="btn btn-success">
        <!-- <span class="spinner-border spinner-border-sm mr-1"></span> -->
        Salvar Alteração
      </button>
    </div>
  </div>
</form>
